body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}


a {
  text-decoration: none;
  color: currentColor;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px;
}

.header {
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  background: #ffffff;
  align-items: center;
  display: flex;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.title-two-part {
  color: #2e2f42;
}

.header-top {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  display: flex;
}

.link {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 40px;
  padding: 24px 0;
}

.link:active {
  color: #404bbf;
}
.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}

.current {
  color: #404bbf;
   position: relative;
 }
 
 .current::after {
   background-color: #404bbf;
   width: 48px;
   height: 4px;
   border-radius: 2px;
   content: "";
   position: absolute;
   display: block;
   left: 0;
   bottom: -1px;
 }

.contacts-list {
  margin-left: auto;
}

.contact-connection {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  align-items: center;
}

.contact-connection:hover {
  color: #404bbf;
}

.contact-connection:focus {
  color: #404bbf;
}

/* Section 1 */

.main-content-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.main-content {
  color: white;
  background-color: #2e2f42;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.button-style {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  gap: 10px;
}
.button-style:hover {
  background: #404bbf;
}

.button-style:focus {
  background-color: #404bbf;
}
.content-section {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  font-weight: 700;
  line-height: 60px;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.section-two {
  padding: 120px 0;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.content-title {
  color: #2e2f42;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.content-list {
  display: flex;
  gap: 24px;
}
.content-info-top {
  width: calc((100% - 72px) / 4);
}
.title-three-part {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.description-content-info {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.content-info {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* Section 3 */
.main-content-team {
  color: #2e2f42;
  font-size: 36px;
  text-align: center;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.main-content-team-list {
  display: flex;
  gap: 24px;
}

.main-content-team-pic {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-person {
  padding: 32px 0;
}

.team-photo {
  justify-content: center;
  background: #ffffff;
}

.main-content-team-person {
  color: #2e2f42;
  background: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.main-content-team-person-job {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials-item {
  width: 40px;
  height: 40px;
}

.socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon {
  fill: #f4f4fd;
}

.socials-link:hover,
:focus {
  background-color: #404bbf;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-content-portfolio {
  color: #2e2f42;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  background-color: #ffffff;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  border-radius: 0px 0px 4px 4px;
}

.portfolio-pic {
  width: calc((100% - 48px) / 3);
}

.main-content-portfolio-pic {
  background: #ffffff;
}
.portfolio-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.main-content-portfolio-work {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.main-content-portfolio-work-description {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.thumb {
  position: relative;
  overflow: hidden;
}

.thumb .overlay {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px 32px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  background: var(--IRIS, #4d5ae5);
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-portfolio-item:hover .overlay {
  transform: translateY(0);
  cursor: pointer;
}


/* Footer */
.footer-text {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-container {
  margin-right: 120px;
}
.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text-end {
  color: #f4f4fd;
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.title-two-part-fotter {
  color: #f4f4fd;
}
.socials-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.footer-socials {
  display: flex;
  gap: 16px;
}

.footer-socials-item {
  width: 40px;
  height: 40px;
}
.footer-socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
:focus {
  background-color: #31d0aa;
}

.footer-socials-icon {
  fill: #f4f4fd;
}
